/* //Use flex wrap para que a medida que se achica la pantalla los elementos se reorganicen */
/* //Los ajuste con flex dentro del contendor, los centre al centro y le pus espaciado con gap */
.Cards{
  display: flex;    
  flex-wrap: wrap;
  flex-direction: row;
  gap:20px;
  justify-content: center;
  margin-top: 5%;
 
  
  
  }

  .card:hover {
    border: 2px solid rgb(85, 254, 1);
    box-shadow: 9px 2px 48px 7px rgba(111, 216, 19, 0.61);
    
  }

  .card-body{
  
    text-align: center;
    
    
  }

