.App{
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top;
    z-index: -2;
}

.Shinny{
 background:  transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top;
    z-index: -1;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}